* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
p {
    color: #575757ee;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    padding-top: 60px 0px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
    text-align: justify;
    padding-bottom: 40px;
}

.padding-section {
    padding: 80px 70px;
}

.flexible {
    display: flex;
}

.first-section-left {
    margin-top: 120px;
}

span {
    color: #FB934A;
}

.half-width {
    width: 50%;
}

.anchor-link {
    text-decoration: none;
    background-image: linear-gradient(to right, #FB954B, #FD5031);
    padding: 20px 35px;
    font-size: 19px;
    border-radius: 50px;
    color: #fff;
}

.hero-header-img {
    height: 640px;
    width: 100%;
    margin-top: 30px;
}

/* second section */

.second-section {
    background-image: url(images/shapes/7.png);
    width: 100%;
    height: 570px;
    margin-top: 20px;
}

.second-section-img img {
    width: 50%;
    height: 490px;
    margin-left: 165px;
    margin-top: 80px;
}

.about-me {
    padding: 80px 258px 80px 0px;
}

/* thired section */

.recipie-section {
    padding: 50px 70px;
}

.My-recipie {
    text-align: center;
    padding: 0px 300px;
}

.food-section {
    margin: 10px;
    padding: 0px 40px;
    padding-top: 30px;
    box-shadow: 0 3px 10px 12px #E9E9E9;
    border-radius: 20px;
}

.food-image {
    display: flex;
    width: 100%;
}

.food-image img {
    width: 100%;
    height: 300px;
}

.title h3 {
    font-size: 25px;
    font-weight: 700;
}

.title p {
    font-size: 18px;
}

.social-media {
    box-shadow: 0 3px 10px 04px #E9E9E9;
    border-radius: 20px;
}

.social-view {
    width: 100%;
    text-align: center;
}

.social-view h1 {
    color: #000e;
    padding: 10px 0px;
}

.social-view p {
    text-align: center;
    font-size: 16px;
}